{% extends "main.html" %}
{% block body %}
<h1>ACDC Experiments basic statistics</h1>
<!-- Sorry for opening links in new windows/tabs, but our communicaction department required that -->

<p> This site is developed in the scope of <a href="http://acdc-project.eu" target="_blank">ACDC project</a> whose aim is to fight botnets.</p>
<p> The content of this particular resource is intended to be used by ACDC partners during a project phase called "Experiments". 
We collect different types of reports provided by project parnters and represent some simple statistical data in a grpahical form here. </p>

<p> If a parnter wants to add his feed to this statistics site, our CCH key ID is <b>460</b>.</p>

<p> For all requests concerning this resource, please contact <a href="http://snt.uni.lu" target="_blank">SnT</a>, or send me and <a href="http://wwwen.uni.lu/snt/people/tigran_avanesov">email</a>

{% endblock %}
